div.figure
    background: #dfdfdf
    border: 1px solid #333333
    width: 530px
    margin: 5px auto 5px auto
    text-align: center

    div.caption
        font-size: smaller
        background: #aaaaaa
        padding: 3px
                
    img
        margin: 5px auto 5px auto
        border: 0px
