{% extends 'base.html' %}
{% block title %}{{ airfield.name }}{% endblock %}

{% block head %}
{{ block.super }}
    <link href="{{ MEDIA_URL }}/css/stylesheets/airfield.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <link href="{{ MEDIA_URL }}css/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
{% endblock %}

{% block content %}

    <h1>{{airfield.name}}</h1>
    {% if request.user.is_authenticated %}
    <a href="{{ airfield.get_admin_url }}">Edit this page</a>
    {% endif %}
    <div id="revised">Revised: {{airfield.revised|date:"M j, Y" }}</div>
    <div id="article">
    {{ airfield.render_with_images|linebreaks }}
    </div>
    
{% endblock %}
