{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block head %}
{{ block.super }}
    <link href="{{ MEDIA_URL }}/css/stylesheets/home.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <link href="{{ MEDIA_URL }}css/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
{% endblock %}

{% block content %}

home, hi!
    
{% endblock %}
